 *{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Great Vibes', cursive
 }

.top-slider a {

text-decoration: none;
color: #f88ff9;
font-size: 1.125rem;
}

.top-slider ul li{
    display: inline-block;
  justify-content: center;
}


